section.cadastro header {
    justify-content: flex-start;
    width: 90%;
    margin: auto;
}

section.form {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

section.form div label {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    color: #999;
}

section.form div input {
    margin-bottom: 15px;
    padding: 10px;
    color: #999;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 10px;
}

footer button {
    position: absolute;
    right: 20px;
    bottom: 30px;
    
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

