.centro {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.esquerda {
  display: flex;
  width: 200px;
  flex-direction: column;
}
.direita td {
  display: flex;
}
#customers caption {
  border: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
}
.borda #customers th {
  border-radius: 1rem;
  width: 150px;
  text-align: center;
}

.borda {
  margin-inline: auto;
  border: 2px solid black;
  border-radius: 5rem;
  width: 60%;
}
