body {
    background: #fffff0;
    font-family: 'Poppins', sans-serif;
}

aside {
    flex: 1;
    background-color: #add8e6;
    height: 100vh;
}

aside.close {
    flex: 0.3;
}

aside.close>div {
    visibility: hidden;
    z-index: 0;
    width: 1px;
    height: 1px;
}

aside.close>div button {
    visibility: visible;

    z-index: 1;
}

aside.open>div {
    margin-top: 2rem;
    justify-content: center;
    align-items: flex-start;
}

aside>div hr {
    margin: 10px 0;
}

aside>div>div.div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

aside>div>div.links {
    text-align: left;
    width: 70%;
    margin: auto;
}

aside button {
    border: none;
    background-color: transparent;
    padding: 0;
}

a {
    font-size: 20;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#root .open {
    transition: 1s;
}

aside.open div {
    transition: 1s;
}

#root .close {
    transition: none;
}