body {
    background: #C4C4C4;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
}

main section {
    flex: 5;
    margin: auto;
    margin-top: 3rem;
    width: 90%;
}

main header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    background-color: white;
    display: flex;
    padding: 0 10px;
    border-radius: 8px;
    height: 35px;
}

header div input {
    border: none;
    width: 300px;
    border-radius: 8px;
}

header div button,
table button {
    border: none;
    background-color: transparent;
    padding: 0;
}

header button,
table button {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}



table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 5rem;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 100px;
}

th {
    padding: 0;
}
