body {
    background: #C4C4C4;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
}

main section.emissor {
    flex: 5;
    margin: auto;
    margin-top: 3rem;
    width: 90%;
}

section.emissor header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

section.emissor header button,
section.emissor header h2 {
    margin: 0;
    padding: 0;
}

section.emissor header div input {
    border: none;
    width: 300px;
    border-radius: 8px;
}

section.emissor header div button,
section.emissor table button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

section.emissor  h2 {
    inset-inline: auto;
    display: flex;
    flex-direction: left;
    flex-direction: column;
    font-size: 4rem;
}


#funcionarios #title h2 {
    padding-bottom: 10rem;

}

#funcionarios #opcao button {
    margin-right: 5rem;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

#funcionarios #opcao button:hover,
#funcionarios #footer button:hover {
    background-color: red;
    transition: background 0.2s;
}

#opcao-1 {
    display: flex;
    flex-wrap: wrap;
}

.b1 {
    flex: 1 1 120px;
    aspect-ratio: 1 / 1;
    background-color: red;
}

.contente {
    flex: 1 1 200px;
}