.cadastro h2 {
  padding-bottom: 5rem;
}
.wrapper-cadastro {
  margin-inline: auto;
  align-items: center;
  width: 40%;
  border: 1px double black;
  background: #e0e0e0;
  box-shadow:   50px 50px 100px #808080,
  -50px -50px 100px #ffffff;
}
.wrapper-cadastro h3 {
  padding: 10px;

  border-bottom: 1px solid black;
}

.wrapper-cadastro #nome {
  width: 40rem;
  padding-left: 10px;
}
p {
  padding-top: 10px;
  text-align: left;
}
form {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

input#email,
input#cidade,
input#rua {
  width: 200px;
}
.align-1{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p{
  text-align: center;
}

h4 {
  text-align: left;
  padding-top: 4px;
  color: gray;
}
.wrapper-cadastro input {
  padding: 5px;
  width: 15rem;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.wrapper-cadastro input:hover {
  color: #1a83ff;
}
.wrapper-cadastro .button {
  margin-inline: auto;
  background-color: #060b26;
}
.wrapper-cadastro .button:hover {
  background-color: rgb(6, 240, 6);
}
.setor {
  padding-bottom: 50px;
}
.cadastro footer {
  background-color: transparent;
}
.cadastro footer.button {
  display: flex;
  justify-content: flex-start;
  border-left: 10px;
}
.wrapper-cadastro {
  border-radius: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.wrapper-cadastro button.button {
  background-color: #060b26;
  cursor: pointer;
  margin-top: 40px;
}
button {
  cursor: pointer;
  background-color: transparent;
  padding-left: 10px;
 
}
.buscar-nome{ 
margin-top: 20px;
display: inline;
}
input#nome-busca{
width: 80%;
}
